<div class="calendar-container">
  <%= month_calendar(events: @meetings, end_attribute: :end_time) do |date, meetings| %>
    <%= date %>

    <% meetings.each do |meeting| %>
      <%= link_to edit_meeting_path(meeting) do %>
        <div class="meeting">
          <p><%= meeting.name %></p>
          <small><%= meeting.time unless meeting.multi_days? %></small>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
